<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
    .safe{
    user-select: none;
    }
    .btn {
      display: inline-block;
      text-decoration: none;
      border: 1px solid #FFFFFF;
			background-color: #333333;
      font-weight: bold;
      color: #FFFFFF;
    }
    .inline-block {
      display: inline-block;
      border: 1px solid rgb(0, 0, 0);
      width: 300px;
      height: 200px;
      margin: 50px;
    }
	</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accommodations</title>
</head>
<body>
  <header>
    <h1>Accommodations</h1>
    <nav class="safe">
        <a href="../home.html" class="btn">Home Page</a>
        <a href="Acc_ListAll.html" class="btn">More Accommodations</a>
        <a href="Acc_Favorite.html" class="btn">My Favorite</a>
        <a href="Acc_Contact.html" class="btn">Contact Us</a>
    </nav>
  </header>
 
  <main>
    <section>
      <h2>Top Viewed Accommodations</h2>
      <div class="inline-block">
        <img src="Temp_Pic/1.jpg" alt="1" width="300" height="200">
        <h3>屏欣苑 B座 (屏彥閣)</h3>
        <p> 高層 9室 2房</p>
        <a href="Acc_Detail.html" class="btn">View Details</a>
      </div>
 
      <div class="inline-block">
        <img src="Temp_Pic/2.jpg" alt="2" width="300" height="200">
        <h3>愉景新城 1期 4座</h3>
        <p>中層 D室 3房</p>
        <a href="Acc_Detail.html" class="btn">View Details</a>
      </div>
    </section>
    <section>
      <h2><a href="Acc_ListAll.html">Want More Accommodations?</a></h2>
    </section>
  </main>
 
  <footer>
    <p>Copyright Statement &copy; 2025 UniHeaven</p>
  </footer>
</body>
