<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <nav class="safe">
        <a href="Acc_Home.html" class="btn">Home Page</a>
        <a href="Acc_ListAll.html" class="btn">More Accommodations</a>
        <a href="Acc_Favorite.html" class="btn">My Favorite</a>
        <a href="Acc_Contact.html" class="btn">Contact Us</a>
    </nav>
    <h1>Any ideas or suggestions?</h1>
</body>
</html>