<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .safe{
        user-select: none;
        }
		.btn {
        display: inline-block;
        text-decoration: none;
        border:2px solid #333333;
        border-radius: 10px;
        margin: 10px;
        background-color: #333333;
        font-weight: bold;
        color: #FFFFFF;
        user-select: none;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accommodation Info</title>
</head>
<body>
    <header>
       <h1>XXX城 X期 X座</h1>
       <h2>XX道 XX-XX號</h2>
       <h3 class="safe">
        <a href="#" class="btn">Video</a>
        <a href="#" class="btn">Photo</a>
        <a href="#" class="btn">Floor Plan</a>
        <a href="#" class="btn">Street View</a>
       </h3>
       <h4 class="safe"><img src="Temp_Pic/404.png" alt="1" width="500" height="350" class="btn"></h4>
       
    </header>
    <header>
        <h1>Recent Transactions</h1>
        <li>XXXX/XX/XX</li>
        <li>XXXX/XX/XX</li>
        <li>XXXX/XX/XX</li>
        <li>XXXX/XX/XX</li>
    </header>
</body>
</html>