<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
        .safe{
        user-select: none;
        }
        .btn {
        display: inline-block;
        text-decoration: none;
        border:2px solid #333333;
        border-radius: 10px;
        background-color: #333333;
        font-weight: bold;
        color: #FFFFFF;
        user-select: none;
        }
		.inline-block {
		display: inline-block;
		border: 1px solid rgb(0, 0, 0);
		width: 300px;
		height: 200px;
		margin: 50px;
		}
		.inline-block-sm {
		display: inline-block;
		width: 150px;
		height: 25px;
		margin: 10px;
		}
	</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Accommodation</title>
</head>
<body>
	<header class="safe">
		<h1>Accommodation Resource</h1>
		<h2 class="inline-block-sm">Filtering</h2>
		<div class="inline-block-sm">District
			<select>
				<option>Hong Kong Island</option>
				<option>Kowloon</option>
				<option>New Territories East</option>
				<option>New Territories West</option>
			</select>
		</div>
		<div class="inline-block-sm">MTR Distance
			<select>
				<option>Within 10 Mins</option>
				<option>Within 5 Mins</option>
				<option>Within 2 Mins</option>
			</select>
		</div>
        <div class="inline-block-sm">Rental
			<select>
                <option>Lower than $5000</option>
				<option>5000-10000$</option>
				<option>10000-15000$</option>
				<option>15000-20000$</option>
                <option>More than $20000</option>
			</select>
		</div>
        <div class="inline-block-sm">Saleable Area
			<select>
				<option>Smaller than 100ft&#x00B2;</option>
				<option>100-200ft&#x00B2;</option>
				<option>200-300ft&#x00B2;</option>
				<option>300-400ft&#x00B2;</option>
                <option>Larger than 400ft&#x00B2;</option>
			</select>
		</div>
        <div class="inline-block-sm">Rooms
			<select>
				<option>Studio</option>
				<option>1 Room</option>
				<option>2 Rooms</option>
                <option>3 Rooms</option>
                <option>4 Rooms or More</option>
			</select>
		</div>
	</header>
    <main class="safe">
    <div class="inline-block">
		<img src="Temp_Pic/1.jpg" alt="1" width="300" height="200">
		<h3>屏欣苑 B座 (屏彥閣)</h3>
		<p> 高層 9室 2房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/2.jpg" alt="2" width="300" height="200">
		<h3>愉景新城 1期 4座</h3>
		<p>中層 D室 3房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>


	<div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    <div class="inline-block">
		<img src="Temp_Pic/404.png" alt="3" width="300" height="200">
		<h3>XXX城 X期 X座</h3>
		<p>X層 X室 X房</p>
		<a href="Acc_Detail.html" class="btn">View Details</a>
    </div>
    </main>
</body>
</html>