<style type="text/css">
		#menu{
			font-size: 18px;
			font-weight: bold;
		}
		#menu li{
			text-decoration: none;
			list-style: none;//去掉li前面的圆点
			display: inline;//让li横向排列
			border: 1px solid #FFFFFF;
			background-color: #30DDEB;
		}
		#menu li a{
			color:#040404;
			text-decoration: none;//去掉a的下划线样式
			margin:0px;
			height:40px; 
			line-height:40px; 
			text-align:center;
		}
		#menu li a:hover{
			background-color: #FCFCFC;//鼠标经过事件
		}
	</style>