<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <script type="text/javascript">
        window.onload = function() {
            {% if messages %}
                {% for message in messages %}
                    alert('{{ message }}');
                {% endfor %}
            {% endif %}
        };
    </script>

</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <a href="accommodation/Acc_Home.html" class="btn">Click to View Accommodation</a>
</body>
</html>